name: CI Checks

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '*.md'
      - '*.png'
      - '*.svg'
      - '*.toml'
      - '.gitignore'
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - '*.md'
      - '*.png'
      - '*.svg'
      - '*.toml'
      - '.gitignore'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        python-version: ["3.10", "3.11"]

    steps:

    - name: Install required packages (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y locales
        sudo locale-gen zh_TW ja_JP ko_KR en_US
        sudo update-locale LANG=en_US
        echo "LC_ALL=en_US" >> $GITHUB_ENV
        echo "LANG=en_US" >> $GITHUB_ENV
        echo "LANGUAGE=en_US" >> $GITHUB_ENV

    - uses: actions/checkout@v3
      with:
        sparse-checkout: |
          .github
          src
          pyproject.toml
          requirements.txt

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Unit tests with pytest
      run: |
        pytest -m 'unit'

    - name: Tests with marker 'ubuntu'
      if: matrix.os == 'ubuntu-latest'
      run: |
        pytest -m 'ubuntu'

    - name: Tests with marker 'macos'
      if: matrix.os == 'macos-latest'
      run: |
        pytest -m 'macos'

    - name: Tests with marker 'windows'
      if: matrix.os == 'windows-latest'
      run: |
        pytest -m 'windows'

    - name: Upload image diffs when tests failed
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: diffs-of-generated-roadmaps-${{ matrix.os }}-${{ matrix.python-version }}
        path: |
          src/tests/diffs_of_generated_roadmaps/
          src/tests/generated_roadmaps/